In [31]:
# Import the libraries

In [2]:
import pandas as pd
import numpy as np

In [32]:
# Import the dataset

In [17]:
insurance = pd.read_csv("E:\\Datasets\\DataSet\\insurance.csv")

In [18]:
insurance.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [19]:
insurance.describe()

               age          bmi     children       charges
count  1338.000000  1336.000000  1338.000000   1336.000000
mean     39.207025    30.659244     1.094918  13283.851735
std      14.049960     6.101753     1.205493  12113.872131
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.272500     0.000000   4744.325050
50%      39.000000    30.380000     1.000000   9388.753650
75%      51.000000    34.700000     2.000000  16687.364100
max      64.000000    53.130000     5.000000  63770.428010

In [33]:
#Check for null values

In [20]:
insurance.isnull().any()

age         False
sex          True
bmi          True
children    False
smoker      False
region      False
charges      True
dtype: bool

In [34]:
#Drop null values

In [21]:
insurance.dropna(inplace=True)

In [35]:
#Fill null values with mean for whole dataset

In [37]:
insurance.fillna(insurance.mean(),inplace = True)

In [38]:
#Fill null values for particular variable with startegy

In [22]:
insurance['bmi'].fillna((insurance['bmi'].mean()), inplace=True)
insurance['charges'].fillna((insurance['charges'].median()), inplace=True)
insurance['sex'].fillna((insurance['sex'].mode()),inplace=True)

In [39]:
# Converting categorical data into numeric

In [23]:
from sklearn.preprocessing import LabelEncoder
Labelencoder = LabelEncoder()
insurance.iloc[:,4:5]=Labelencoder.fit_transform(insurance.iloc[:,4:5])

C:\Users\Personal\Anaconda\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [40]:
#Getting dummies

In [24]:
insurance1=pd.get_dummies(insurance['region'])

In [25]:
newdata=pd.concat([insurance,insurance1],axis=1)
newdata.drop(['region'],axis=1).head(5)

,age,sex,bmi,children,smoker,charges,northeast,northwest,southeast,southwest
0,19,female,27.900,0,1,16884.92400,0,0,0,1
1,18,male,33.770,1,0,1725.55230,0,0,1,0
2,28,male,33.000,3,0,4449.46200,0,0,1,0
3,33,male,22.705,0,0,21984.47061,0,1,0,0
4,32,male,28.880,0,0,3866.85520,0,1,0,0

In [41]:
# Feature scaling

In [26]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
min_max.fit_transform(insurance[['charges']])

array([[0.25161076],
       [0.00963595],
       [0.05311516],
       ...,
       [0.00810808],
       [0.01414352],
       [0.44724873]])

In [42]:
# Slicing the data

In [46]:
x=insurance.iloc[:,[0,2,3]]
y=insurance.iloc[:, 6]
print(x.head(3))
print(y.head(3))

   age    bmi  children
0   19  27.90         0
1   18  33.77         1
2   28  33.00         3
0    16884.9240
1     1725.5523
2     4449.4620
Name: charges, dtype: float64

In [47]:
#Splitting the data

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3,random_state=0)